.menu-items{
    position: relative;
}

.menu-items::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background: linear-gradient(90deg , darkblue , lime);;
    left: 0;
    bottom: 2px;
    transition: all .5s ease-in-out;
}

.menu-items:hover::after{
    width: 100%;
}